

@media( max-width : 1024px) {
	.nav_ul{
		position: fixed;
		top: 200px;
		left: -100%;
		background: #2E2E2E;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#isVisible:checked ~ .nav_ul{
		left: 0%;
	}
	.btn{
		display: block;
	}	
}

@media( max-width : 991px){
	.navigation{
		padding-top: 15px;
		padding-bottom: 15px;
		background-color: white;
	}
/*Section*/
	.sec_div_text h3{
		font-size: 20px;
	}
	.sec_div_text_p1 {
		line-height: normal;
		font-size: 42px;
	}
	.sec_div_text_p2{
		line-height: normal;
		font-size: 42px;
	}

/*Section 1*/
	.sec1_main_div{
		padding-bottom: 90px;
		padding-top: 90px;
	}
	.sec1_2box_bottom{
		width: 92px;
	    height: 30px;
	    background: url(../images/das_bg.png);
	    content: "";
	    display: block;
	    position: absolute;
	    right: 0;
	    bottom: 60px;
	    left: 30px;
	}

/*Section 2*/
	.sec2_h2{
		font-size: 28px;
		font-weight: 300;
    	line-height: 24px;
    	color: #fc301e;
	}
	.sec2_div_text_h3{
		justify-content: center;
		margin-top: 0px;
	}
	.sec2_div_img{
		margin-top: 20px;
	}
	.sec3_h2{
		font-size: 26px;
	}
	.sec3_h3{
		text-align: center;
    	width: 100%;
    	font-size: 32px;
    	line-height: normal;
    	margin-bottom: 20px;
	}
}

@media( max-width : 768px) {
	.sec_div{
		background-size: 130% auto;
	}
	
	.main_logo{
		width: 135px;
	}
	.navigation{
		padding-top: 15px;
		padding-bottom: 15px;
		background-color: white;
	}

	/*Section 1*/

	.sec1_h3{
		font-size: 30px;
    	line-height: normal;
    	margin-bottom: 20px;
	}
	
	.sec1_container{
		flex-direction: row;
		justify-content: center;	
	}
	.sec1_2box_top{
		width: 92px;
	    height: 30px;
	    background: url(../images/das_bg.png);
	    content: "";
	    display: block;
	    position: absolute;
	    top: 40px;
	    right: 30px;
	}
	.sec1_2box_bottom{
		width: 92px;
	    height: 30px;
	    background: url(../images/das_bg.png);
	    content: "";
	    display: block;
	    position: absolute;
	    right: 0;
	    bottom: 60px;
	    left: 30px;
	}
	/*Section 2*/
	.sec2_div{
		flex-wrap: wrap;
	}
	.sec2_h2{
		font-size: 28px;
		font-weight: 300;
    	line-height: 24px;
    	color: #fc301e;
	}
	.sec2_div_text_h3{
		justify-content: center;
		margin-top: 0px;
	}
	.sec2_div_img{
		margin-top: 20px;
	}
	.sec3_h2{
		font-size: 26px;
	}
	.sec3_h3{
		text-align: center;
    	width: 100%;
    	font-size: 32px;
    	line-height: normal;
    	margin-bottom: 20px;
	}
	/*Section 4*/

	.sec4_container_p1{
		text-align: center;
    	width: 100%;
    	font-size: 26px;
    	line-height: normal;
    	margin-bottom: 5px;
	}
	.sec4_container_p2{
		text-align: center;
    	width: 100%;
    	font-size: 30px;
    	line-height: normal;
    	margin-bottom: 20px;
	}
	.sec4_form{
		flex-direction: column;
		align-items: center;
	}
	.sec4_text{
		width: 100%;
	    height: 60px;
	    padding: 15px 20px;
	    border: none;
	    float: left;
	    margin: 0;
	    font-size: 18px;
	    font-weight: 400;
	    margin-bottom: 20px;
	}
	.sec5_p1{
		font-size: 26px;
		font-weight: 300;
    	line-height: 24px;
	}
	.sec5_p2{
		text-align: center;
    	width: 100%;
    	font-size: 34px;
    	line-height: normal;
    	margin-bottom: 20px;
	}
	.sec5_text{
		font-size: 30px;
    	line-height: normal;
   		margin-bottom: 20px;
	}
	/*Section 6*/
	.sec6{
		flex-wrap: wrap;
	}
	.sec6_div1{
		width: 100%;
		height: 600px;
		background-color: none;
	}
	.sec6_div2{
		width: 100%;
		height: 600px;
	}
	.sec6_div1_form{
		width: 100%;
		height: 100%;
	}
	/*Section 7*/

	.sec7_contact_us{
		font-size: 30px;
    	line-height: normal;
    	margin-bottom: 20px;
	}
	


}

@media( max-width : 480px) {

	.sec7_info{
		flex-direction: column;
		align-items: center;
	}
	.sec_div_text h3{
		display: none;
	}
	.sec_div_text_p1{
		display: none;
	}
	.sec_div_text_p2{
		display: none;
	}
	.read_more_first{
		display: none;
	}
}


@media( max-width : 320px) {
	/*Header*/

}