/*@media(max-width: 1000px){
	.nav_ul{
		position: fixed;
		top: 200px;
		left: -100%;
		background: #2E2E2E;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#isVisible:checked ~ .nav_ul{
		left: 0%;
	}
	.btn{
		display: block;
	}
}

@media(max-width: 700px){
	.navigation{
		padding: 0px;
	}
}

@media(max-width: 1000px){
	.sec1_container_box{
		width: 180px;
		height: 350px;
	}
}
@media(max-width: 960px){

	.sec1_container_box{
		width: 240px;
		height: 300px;
	}
}

@media(max-width: 750px){

	.sec1_container_box{
		width: 320px;
		height: 300px;
	}
}
@media(max-width:685px) {
  .sec1_container_box{
    width:100%;
  }
}
*/

/* Smartphones (portrait and landscape) ----------- */
@media(min-device-width : 320px) and (max-device-width : 480px) {
	/* Styles */
}

@media(min-device-width : 480px) and (max-device-width : 768px) {
	/* Styles */
} 

/* iPads (portrait and landscape) ----------- */
@media(min-device-width : 768px) and (max-device-width : 1024px) {
	/* Styles */
}

/* Desktops and laptops ----------- */


@media( max-width : 1024px) {
	.nav_ul{
		position: fixed;
		top: 200px;
		left: -100%;
		background: #2E2E2E;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#isVisible:checked ~ .nav_ul{
		left: 0%;
	}
	.btn{
		display: block;
	}
	.sec2_div_img{
		width: 350px;
	}
	.sec_div_text h3{
		font-size: 30px;
	}
	.sec_div_text_p1{
		font-size: 45px;
		margin-top: 30px;
	}
	.sec_div_text_p2{
		font-size: 45px;
	}

	.read_more{
		max-width: 200px;
		height: auto;
	}
	.read_more img{
		max-width: 200px;
		height: auto;
		margin-top: 30px;
	}
	.sec4_form{
		flex-wrap: wrap;
	}
	
	
	.photo_class{
		max-width: 200px;
		height: auto;	
	}
	.sec7{
		height:600px;
	}
	.sec7_info{
		flex-wrap: wrap;
	}
	
}



@media( max-width : 768px) {
	.sec2_div_img{
		display: none;
	}
	.sec2_div_img{
		display: none;
	}
	.sec_div_text h3{
		display: none;
	}
	.sec_div_text_p1{
		display: none;
	}
	.sec_div_text_p2{
		display: none;
	}

	.read_more{
		display: none;
	}
	.read_more img{
		display: none;
	}
	.sec4_container{
		flex-wrap: wrap;
	}
	.sec6{
		flex-wrap: wrap;
	}
	.sec6_div1{
		width: 100%;
		height: 600px;
		background-color: none;
	}
	.sec6_div2{
		width: 100%;
		height: 600px;
	}
	.sec6_div1_form{
		width: 100%;
		height: 100%;
	}
	.sec6{
		height: 1200px;
	}
	


}

@media( max-width : 480px) {
	.sec2_div_img{
		width: 200px;
	}
	.sec4_container{
		justify-content: center;
	}
	.sec4_text{
		width: 300px;
	}
	.photo_class{
		width: 100%;
		height: 100%;
	}
	.sec7{
		height:900px;
	}
	.sec7_info{
		flex-direction: column;
		align-items: center;
	}
}


@media( max-width : 320px) {

}