.header_color{
	background-color: #666666;
}
.navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 2%;
	padding-right: 2%;
}
.btn{
	color:black;
	font-size: 22px;
	float: right;
	margin-right: 10px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}

.nav_ul{
	display: flex;
}
.nav_a{
	color: white;
	font-size: 20px;
	padding: 8px 10px;
	border-radius: 5px;
	transition: all 0.5 ease;
}
.nav_li{
	margin: 0 5px;
}
/*Section 1*/

.sec1_main_div{
	padding-left: 2%;
	padding-right: 2%;
}

.sec1_h3{
	font-size: 40px;
	color: black;
	text-align: center;
	margin-bottom: 40px;
}
.sec1_container{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;	
	justify-content: space-between;
	flex-wrap: wrap;
}
.sec1_2box_top{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	padding-top: 4%;
}

.sec1_2box_bottom{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	padding-bottom: 4%;
}
.sec1_container_box{
	width: 240px;
	height: 300px;
	border: 2px solid red;
	padding: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sec1_container_box h3{
	margin-bottom: 20px;
}

.sec1_container_box div{
	margin-bottom: 20px;
}
.box_p{
	margin-bottom: 20px;
	widows: 100px;
	text-align: center; 	
}
/*Section 2*/

.sec2_h3{
	text-align: center;
	font-size: 30px;
}
.sec2_h2{
	text-align: center;
}
.sec2_div{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;	
	justify-content: space-between;
	/*flex-wrap: wrap;*/
	background-color: yellow;
	/*height: 600px;*/
	padding: 1%;
}
.sec2_div_text{
	max-width: 600px;
	display: flex;
	flex-direction: column;
	padding: 0px 50px 0px 50px;
	/*justify-content: center;*/
}
.sec2_div_text_h3{
	padding: 50px 0px 50px 0px;
	border-bottom: 2px solid blue;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}


.sec2_div_text_p{
	padding: 75px 0px 75px 0px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.sec2_div_img{
	
}




